.navbarContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: #5cb55c;
  background-color: #ffffff;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  margin-bottom: 2vh;
}
